{% extends 'layout.html' %} 
{% block content %} 
{% load static %} 
<div class="container-fluid d-flex flex-column">
<div class="card mt-2">
    <h5 class="card-header">Clustering Data Penyakit</h5>
    <div class="card-body">
      <h5 class="card-title">Visualisasi Per Tanggal.</h5>
      <form action="" method="post">
        {% csrf_token %}
          <div class="row">
              <div class="mb-3 col-lg-3 d-inline">        
                <input
                type="date"
                class="form-control"
                name="tanggal"
                id="tanggal"
                aria-describedby="helpId"
                placeholder=""
                value=""          
                />
                <small id="helpId" class="form-text text-muted">Cek Kalender</small>
              </div>
              <div class="mb-3 col-lg-2 d-inline">
                <button
                  type="submit"
                  class="btn btn-primary"
                  id="visual"
                  name="visual"
                >
                  Cek Visualisasi
                </button>        
              </div>
          </div>
      </form>
      <div>
        {{chart|safe}}
      </div>
      <div class="row g-0">
        <div class="container container-fluid col-lg-6">
          <table
          class="table table-success table-striped"
          >
            <thead>
              <tr>
                <th scope="col">Banyak Terjangkit</th>              
              </tr>
            </thead>
            <tbody>
              {% for b in banyak %}                       
              <tr class="">
                    <td>{{ b.nama_penyakit }}</td>                     
              {% endfor %}
              </tr>            
            </tbody>
          </table>
        </div>
        <div class="container container-fluid col-lg-6">
          <table
          class="table table-success table-striped"
          >
            <thead>
              <tr>
                <th scope="col">Kurang Terjangkit</th>              
              </tr>
            </thead>
            <tbody>
              {% for k in kurang %}                       
              <tr class="">
                    <td>{{ k.nama_penyakit }}</td>                     
              {% endfor %}
              </tr>            
            </tbody>
          </table>
        </div>  
      </div>      
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}
