{% extends 'layout.html' %}    

{% block content %}
{% load static %}
        <div class="container-fluid d-flex flex-column">
          <div
            id="carouselExampleControls"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="3000">
                {{pie|safe}}
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h5>Clustering Data Penyakit</h5>                  
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <img
                  src="{% static 'assets/images/slide10.jpg' %}"
                  class="d-block w-100 h-600"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </main>
{% endblock %}    
