{% extends 'layout.html' %} 
{% load widget_tweaks %}
{% load static %} 

{% block content %} 
<div class="container-fluid d-flex flex-column">
    <div class="card mt-2">
      <h5 class="card-header">User</h5>
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-sm-3 ms-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tambahUserModal">Tambah User</button>
            <!-- Modal -->
            <div class="modal fade" id="tambahUserModal" tabindex="-1" aria-labelledby="tambahUserModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="tambahUserModalLabel">Tambah User Baru</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <form action="" method="post">
                        {% csrf_token %}
                        <label for="id_akses" class="form-select-label" >Akses Sistem</label>                      
                        <select id="id_akses" name="id_akses" class="form-select">
                          <option selected value="0">Open this select menu</option>
                        {% for a in akses %}
                          <option value="{{ a.id_akses }}">{{ a.nama_akses }}</option>
                        {% endfor %}  
                        </select>
                        <label for="username" class="form-label mt-1">Username</label>
                        <input
                          type="text"
                          class="form-control"
                          name="username"
                          id="username"
                          placeholder="Input username..."
                          value=""
                          aria-describedby="usernameFeedback" />
                        <div id="usernameFeedback" class="invalid-feedback">
                        </div>
                        <label for="email" class="form-label mt-1">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="Input email..."
                          value=""
                          aria-describedby="usernameFeedback" />
                        <div id="usernameFeedback" class="invalid-feedback">
                        </div>
                        <label for="password1" class="form-label">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password1"
                          id="password1"
                          placeholder="Input password"
                          aria-describedby="password1Feedback" />
                        <div id="password1Feedback" class="invalid-feedback">
                        </div>
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password2"
                          id="password2"
                          placeholder="Input password again"
                          aria-describedby="password2Feedback" />
                        <div id="password2Feedback" class="invalid-feedback">
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="tambahuser" name ="tambahuser" class="btn btn-primary">Save changes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-2 ms-2">
            <form action="" method="post" class="d-flex">
              {% csrf_token %}
              <input
                class="form-control me-2"
                type="text"
                placeholder="Search Username.."
                id="keyword"
                name="keyword" />
              <button class="btn btn-outline-success" type="submit" id="search" name="search">
                <svg class="bi" width="16" height="16">
                  <use xlink:href="#search"></use>
                </svg>                
              </button>
            </form>
        </div>
        {% if messages %}
            {% for message in messages %}
              {% if message.tags == "warning" %}
                  <div class="alert alert-warning mt-3" role="alert">
                    {{message}}
                  </div>
              {% endif %}
              {% if message.tags == "success" %}
                <div class="alert alert-success mt-3" role="alert">
                  {{message}}
                </div>
              {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container-fluid mt-3">
          <table class="table table-primary table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Akses</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for user in users %}
                  <th scope="row">{{ user.id }}</th>
                  <td>{{ user.username }}</td>
                  <td>{{ user.nama_akses }}</td>
                  <td>
  
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#edit{{user.id}}">Edit</button>
                    <!-- Modal -->
                    <div class="modal fade" id="edit{{user.id}}" tabindex="-1" aria-labelledby="edit{{user.id}}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="Label">Update User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="mb-3">
                              <form action="{% url 'kelola-user' user.id %}" method="post">
                                {% csrf_token %}
                                <label for="id_akses" class="form-label">Akses Sistem</label>
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="id_akses" id="id_akses">
                                  <option value="0">Open this select menu</option>
                                  <option {% if user.id_akses_id == 21 %} selected {% endif %} value="21">Dokter/Apoteker</option>
                                  <option {% if user.id_akses_id == 22 %} selected {% endif %} value="22">Staff Administrasi</option>
                                </select>
                                <label for="email" class="form-label">Email</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="email"
                                  id="email"
                                  placeholder="Input email..."
                                  value="{{user.email}}">
                                <label for="username" class="form-label">Username</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="username"
                                  id="username"                                  
                                  value="{{user.username}}"
                                  disabled readonly>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="updateuser" name="updateuser" class="btn btn-primary">Save changes</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <form action="" method="post" class="d-inline">
                      {% csrf_token %}                      
                      <a class="btn btn-danger btn-submit" href="{% url 'delete-user' user.pk %}" id="delete" name="delete" onclick="return confirm('Apakah anda yakin?')">Delete</a>
                    </form>
                  </td>
                </tr>            
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  </main>
{% endblock %}
